main {
  width: 100%;
  padding: 8rem 0;

  .filter-gallery-container {
    margin: 0 auto;
    max-width: 1220px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      display: block;
    }

    .filter-container {
      width: 22%;
      position: relative;

      @media (max-width: 768px) {
        width: 95%;
        margin: 0 auto 2rem auto !important;
      }

      @media (max-width: 1220px) {
        margin-left: 1rem;
      }

      .btn {
        font-size: 2rem;
        color: $color-white;
        padding: 1rem 2rem;
        background-image: linear-gradient(
          to left bottom,
          rgb(249, 87, 0),
          rgb(248, 129, 65)
        );
        border-radius: 5px;
        display: inline-block;
        margin-top: 2rem;
      }

      h1 {
        background-color: $color-black;
        font-size: 2rem;
        text-transform: uppercase;
        padding: 1rem;
        color: $color-white;

        @media (max-width: 1220px) {
          font-size: 1.8rem;
        }
      }
      .category {
        h2 {
          font-size: 1.8rem;
          text-transform: uppercase;
          padding: 1rem;
          background-image: linear-gradient(to right, #f95700, #f88141);
          color: white;

          @media (max-width: 1220px) {
            font-size: 1.5rem;
          }
        }

        .category-item {
          background-color: $color-bg-gray-2;
          padding: 1rem;
          font-size: 1.8rem;
          text-transform: capitalize;
          display: flex;
          align-items: center;

          @media (max-width: 1220px) {
            font-size: 1.5rem;
          }

          label {
            margin-left: 1rem;
          }
        }
      }
    }

    .gallery-container {
      width: 75%;
      height: 500px;
      background-color: gray;

      @media (max-width: 768px) {
        width: 95%;
        margin: 0 auto !important;
      }

      @media (max-width: 1220px) {
        margin-right: 1rem;
      }
    }
  }
}
