<!DOCTYPE html>
<html lang="en" ng-app="patrona">
  <head>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js" integrity="sha512-7oYXeK0OxTFxndh0erL8FsjGvrl2VMDor6fVqzlLGfwOQQqTbYsGPv4ZZ15QHfSk80doyaM0ZJdvkyDcVO7KFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href="imgs/faviconn.png">
    <title>Patrona Puppy | Home</title>
  </head>
  <body ng-controller="mainController">
    <!--HEADER-->
    <header class="header">
      <!--A CONTAINER FOR CONVENIENCE-->
      <div class="header-content">
        <!--MAIN NAVBAR-->
        <nav class="nav-bar">
          <a href="index.html" class="nav-bar__brand">
            <div class="brand-logo">
              <img src="imgs/Paw_Print.svg" alt="" />
            </div>
            <div class="brand-name">Patrona<span>Puppy</span></div>
          </a>
          <div class="nav-bar__items">
            <ul class="nav-bar__links">
              <li class="nav-bar__link"><a href="index.html">Home</a>
              </li>
              <li class="nav-bar__link">Blog +
                <div class="dropdown">
                  <a href="Nutrition/nutrition.html" class="option">Dogs Nutrition</a>
                  <a href="FAQ/faq.html" class="option">FAQ</a>
                  <a href="about us/about.html" class="option">About Us</a>
                </div>
              </li>
              <li class="nav-bar__link"><a href="gallery/gallery.html" class="option">Dog Breeds</a>
              </li>
            </ul>
            <div class="nav-bar__button">
              <a href="image gallery/image-gallery.html" class="btn">My Collection</a>
            </div>
            <div class="nav-bar__hamburger"  id="hamburger" ng-click="hamburger_menu=!hamburger_menu">
              <i class="far fa-bars" id="ham-icon" ></i>
            </div>
        </nav>
        <div class="navbar-dropdown u-display-block" id="menu" >
          <ul class="navbar-dropdown__options" ng-class="{'u-hamburger-menu-full': hamburger_menu}">
            <li class="navbar-dropdown__option">
              <a href="index.html" class="option">Home</a>
            </li>
            <li class="navbar-dropdown__option">
              <a href="#" class="option" id="blog" ng-click="blog_dropdown=!blog_dropdown">Blog &plus;</a>
              <ul class="navbar-dropdown__option--menu" ng-class="{'u-blog_dropdown-full': blog_dropdown}">
                <li class="menu-option">
                  <a href="nutrition/nutrition.html" class="option">Dogs Nutrition</a>
                </li>
                <li class="menu-option">
                  <a href="faq/faq.html" class="option">FAQ</a>
                </li>
                <li class="menu-option">
                  <a href="about us/about.html" class="option">About Us</a>
                </li>
              </ul>
            </li>
            <li class="navbar-dropdown__option">
              <a href="gallery/gallery.html" class="option">Dog Breeds</a>
            </li>
            <li class="navbar-dropdown__option">
              <a href="image gallery/image-gallery.html" class="option ham-menu-btn my-collection">My Collection</a>
            </li>
          </ul>
        </div>
        <!--MAIN ANIMATED HEADER TEXT-->
        <div class="header-text">
          <div class="text">A pet lover’s paradise</div>
          <h1 class="primary-heading">
            <!--SEPARATING LINES FOR APPLICATION OF DIFFERENT ANIMATIONS-->
            <span class="primary-heading__main">
              PATRONA PUPPY
            </span>
            <span class="primary-heading__sub">
              A DESTINATION FOR DOG LOVERS
            </span>
          </h1>
          <a href="#about-us" class="btn">Explore !</a>
        </div>
      </div>
    </header>
    <!--MAIN CONTENT-->
    <main>
      <!--ABOUT US SECTION-->
      <section class="about-us" id="about-us">
        <div class="about-us__container">
            <img src="imgs/aboutus.jpg" alt="">
          <div class="about-us__text">
            <h2>About Us</h2>
            <p>This is website of a veteran want to share about all dogs she has met and research on. 
              <br><br>
              This is also a location for person love dogs and has desire to explore more about this creature.
            </p>
            <a href="about us/about.html" class="btn">Know More</a>
          </div>
        </div>
      </section>
      <!--BLOG SECTION-->
      <!--BLOG SECTION WITH SLIDER-->
      <section class="blog-section">
        <div class="blog-slider-paragraph">
          <div class="blog-paragraph">
            <h2>A True companion</h2>
          <p> <span>Through the ages, people have claimed dogs as one of their closest and best companions. Of all the domesticated animals, dogs serve the widest array of roles: protector, helper, lifesaver, and companion. </span>  
            <br><br>
          <span>More and more often, animals are included in family events and become important to all members of the family. </span></p>
          </div>
          <div class="blog-slider">
            <img src="imgs/blog-slider-img.jpeg" alt="image">
            <div class="slider-arrows">
              <i class="fad fa-angle-left"></i>
              <i class="fad fa-angle-right"></i>
            </div>
          </div>
        </div>
      </section>
      <!--FIRST BLOG SECTION WITH IMAGE-->
      <section class="blog-imgs-text-section">
        <div class="blog-imgs-text__container">
            <img src="imgs/breed.jpg" alt="">
          <div class="blog__text">
            <h1>Dog Breeds</h1>
            <p>People have been breeding dogs since prehistoric times. The earliest dog breeders used wolves to create domestic dogs. From the beginning, humans purposefully bred dogs to perform various tasks. Hunting, guarding, and herding are thought to be among the earliest jobs eagerly performed by the animal destined to be called “man’s best friend.”</p>
            <a href="gallery/gallery.html" class="btn">Know More</a>
          </div>
        </div>
      </section>
      <!--SECOND BLOG SECTION WITH IMAGE-->
      <section class="blog-imgs-text-section u-bg-lightgray">
        <div class="blog-imgs-text__container">
          <div class="blog__text">
            <h1>Dogs Nutrition</h1>
            <p>A balanced diet is critically important to your dog’s cell maintenance and growth and overall health. Barring any special needs, illness-related deficiencies, or instructions from your vet, your pet should be able to get all the nutrients he or she needs from high-quality commercial pet foods, which are specially formulated with these standards in mind.
              <br><br>
              But dogs of different ages have different nutritional requirements. So, how much—or how little—should you be feeding your four-legged friend? Read on to learn what your pet’s body needs at the various stages of life.</p>
            <a href="Nutrition/nutrition.html" class="btn">Know More</a>
          </div>
          <img src="imgs/eating.jpg" alt="">
        </div>
      </section>
    </main>

    <!--FOOTER-->
    <footer class="footer">
      <div class="footer-content">
        <div class="footer-content__main">
          <div class="column u-column-width">
            <h4>About Patrona Puppy</h4>
            <p>
              This is a website of a veteran who wants to share about the all dogs she has met and research on. This is also a location for the person who love dogs and has desire to explore more about this amazing creature.
            </p>
          </div>
          <div class="column">
            <h4>Quick Links</h4>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="FAQ/faq.html">FAQ</a></li>
              <li><a href="Nutrition/nutrition.html">Dog Nutrition</a></li>
              <li><a href="gallery/gallery.html">Dog Breeds</a></li>
              <li><a href="image gallery/image-gallery.html">My Collection</a></li>
            </ul>
          </div>
          <div class="column">
            <h4>Follow Us On</h4>
            <div class="social-media-handles">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="script/script.js"></script>
  </body>
</html>
