main {
    width: 100%;
    padding: 8rem 0;

    .about-us {

        .about-us__container {
            background-color: transparent !important;
            
            img {
                width: 600px;
            }
        }
    }

    .about-us:nth-child(even) {
        background-color: $color-bg-gray-2;
    }

}

// main:nth-child(odd) {
//     background-color: $color-bg-gray-2;
// }