@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap");

//SECONDARY FONT
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixins";

@import "../../sass/base/base";

@import "../../sass/layout/main-content";

@import "../../sass/components/scrollbar";

@import "../../gallery/sass/gallery.scss";

//PARTIAL IMPORTS
@import "layout/main-content";